.header {
    align-items: center;
    height: 70px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    left: 0px;
    right: 0px;
    top: 0px;
    background-color: beige;
}

.logo {
    border: 2px black solid;
    height: 40px;
    width: 40px;
}

.burgerMenu {
    border: 2px black solid;
    height: 40px;
    width: 40px;
}